/* ItemList.css */
.contenedor-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  @media (min-width: 768px) {
    .contenedor-item {
      grid-template-columns: repeat(3, 1fr); /* 3 productos por fila en pantallas medianas y grandes */
    }
  }
  